@{
    ViewData["Title"] = "Home Page";
}

@model BowlingLeague.Models.ViewModels.IndexViewModel


@foreach (var x in Model.Bowlers)
{
    <h3>@x.getFullName()</h3>
    <p>
        Address: @x.BowlerAddress<br />
        City: @x.BowlerCity<br />
        State: @x.BowlerState<br />
        Zip: @x.BowlerZip<br />
        Phone #: @x.BowlerPhoneNumber
    </p>
}

<div page-info="@Model.PageNumberingInfo">

</div>