@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Bowler>


@foreach (var x in Model)
{
    <h3>@x.getFullName()</h3>
    <p>
        Address: @x.BowlerAddress<br />
        City: @x.BowlerCity<br />
        State: @x.BowlerState<br />
        Zip: @x.BowlerZip<br />
        Phone #: @x.BowlerPhoneNumber
    </p>
}

<div set-up-correctly="true">

</div>